body {
    background-color: #FFCAB1;
    color: #A1C084;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.results-container {
    background-color: #69A2B0;
    margin-top: 5%;
}

.open, .closed, .filtered {
    color: #E05263;
}

.ports-text {
    color: white;
}

/* * {
    outline: 1px dashed red;
} */
